@font-face {
    font-family: aquirebold;
    src: url(AquireBold-8Ma60.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(helvetica-rounded-bold-5871d05ead8de.otf);
}

@font-face {
    font-family: bubble;
    src: url(BUBBLEGUMS.TTF);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    scroll-behavior: smooth;
}



.hero-sec {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.hero-sec video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.header {
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;

}

.logo {
    width: auto;
    height: 70px;
    margin-left: 57px;

}

.logo img {
    height: 6em;
    width: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 35px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    box-shadow: 0 1px 3px rgb(32, 120, 162);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    margin-right: 32px;
    padding: 8px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.2s ease;
    font-family: "arial", sans-serif;
    position: relative;
    padding-bottom: 5px;
    cursor: pointer;
}

.navbar ul li a::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background-color: coral;
    width: 0;
    height: 2px;
    transition: all ease 0.5s;
}

.navbar ul li a:hover::after {
    width: 80%;
}

.hero-main {

    width: 100%;
}

.row {
    max-width: 88%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    padding: 109px 0 0 96px;
}

.left-sec {
    width: 50%vh;
    color: #77c3f1;
}

.left-sec h1 {
    font-size: 5rem;
    letter-spacing: 5px;
    font-family: aquirebold;
    margin: 0;
}

.left-sec p {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.apply-button {
    background-color: black;
    border-radius: 15px;
    margin: 20px 0;
}

.txt-group {
    margin: 20px 0;

}

.txt-group span {
    color: #1DD8FE;
    font-family: Helvetica;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;



}

.sectionstyle {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, #000000, #0a085c);

}

/* ***************************About************************ */
.aboutSection {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, #000000, #0a085c);

}

.txt-center,
.sponsor .txt-center {
    text-align: center;
    margin: 0;
    padding: 30px 0;
    font-family: "Helvetica";
    font-weight: 300;

    line-height: 1.167;
    letter-spacing: -0.01562em;
    color: white;
}

.span-txt {
    color: #AAE6FF;
}

.aboutSection .txt-center h1 {

    font-size: 3rem;


}


.aboutSection .about-group {
    display: flex;


    width: 90%;
    height: 70vh;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(32, 120, 162)
}



/* .aboutSection .about-group .left-sec {

    margin: auto 40px;
    width: 490px;
    height: auto;
    background-color: #0a085c;


}

.aboutSection .about-group .left-sec img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    opacity: 0.9;
} */



.aboutSection .about-group .right-sec {
    flex: 1;
    width: 603px;
    height: 490px;
    padding: 40px 10px;
    color: #ffffff;
    font-family: helvetica;


}

.aboutSection .about-group .right-sec p {
    color: #aa9e9e;
}

.aboutSection .about-group .right-sec h1 {
    font-size: 2rem;
    margin-bottom: 4px;
}

.aboutSection .about-group .right-sec .info {
    margin: 25px 0 15px 0;

    line-height: 1.6rem;

}

.aboutSection .about-group .right-sec .info h1 {
    margin-bottom: 7px;
}

.aboutSection .about-group .right-sec .info .title {
    color: #1DD8FE;
    font-size: 15px;
}

.aboutSection .about-group .right-sec .info .date {
    color: #fff;
}

/* *************************Tracks*************************** */
.Tracks,
.sponsors {
    width: 100%;
    height: auto;
    background-image: linear-gradient(90deg, #000000, #0a085c);
    /* overflow: hidden; */
    padding: 0 25px;
}

.Tracks .Tracksrow,
.team .team-row {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 10px 100px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.Tracks .Tracksrow .card-item {
    width: 242px;
    height: 258px;
    margin: 25px;

    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 30, 59, 0.2);
    position: relative;
    box-shadow: 0 1px 3px rgb(32, 120, 162);
    cursor: pointer;
    transition: 0.6s;


}

.Tracks .Tracksrow .card-item:hover {
    transform: scale(1.1)
}

.Tracks .Tracksrow .card-item:nth-child(1) {
    background-image: url(track2\ \(2\).jpg);

}

.Tracks .Tracksrow .card-item:nth-child(2) {
    background-image: url(track1.jpg);

}

.Tracks .Tracksrow .card-item:nth-child(3) {
    background-image: url(track3.jpg);

}

.Tracks .Tracksrow .card-item:nth-child(4) {
    background-image: url(track5.jpg);

}

.Tracks .Tracksrow .card-item:nth-child(5) {
    background-image: url(track2\ \(2\).jpg);

}

.Tracks .Tracksrow .card-item:nth-child(6) {
    background-image: url(track3.jpg);

}

.Tracks .Tracksrow .card-item p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(9, 47, 58, 0.5);
    font-size: 2rem;
    font-family: helvetica;
    margin: 0 auto;
    width: 91%;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-align: center;
    color: #ceced3;
    padding: 0 10px;
}




/* ************************Schedule**************************** */
.time,
.prize,
.team {
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: auto;
    /* padding: 50px 0; */
    background-image: linear-gradient(90deg, #000000, #0a085c);
    position: relative;

}

.time {
    padding: 50px;
}

.time h1,
.prize h1,
.team h1,
.sponsors h1 {
    font-family: helvetica;
    font-size: 3rem;
    color: #AAE6FF;
    padding: 0;


}

.time .time-wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 0 70px;
    height: 85vh;
    overflow-y: scroll;
    border: 2px solid rgb(83, 82, 155);
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgb(32, 120, 162);


}

.time .time-wrapper::-webkit-scrollbar {
    display: none;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 50px auto 20px auto;
    color: #0b0303;
    /* border-radius: 7px; */
    /* text-align: center; */
}

.robo-img {
    position: absolute;
    right: 152px;
    top: 77%;
    width: 150px;
    height: auto;
    z-index: 1;
    animation: floating 3s ease-in-out infinite;
}

.robo-img img {
    width: 100%;
}

.container {
    padding: 20px 30px;
    position: relative;
    width: 40%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 7px;

}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.text-box {
    padding: 20px 5px;
    background: #fff;
    border-radius: 16px;
    font-size: 15px;

}

.text-box h2 {
    color: #002945;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

/* *****************************Prices***************************** */

.prize {
    padding: 10px 0 30px 0;
}

.prize h1 {
    padding: 0 0 26px 0;
}

.prize .prize-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 30px 40px;
}

.prize .prize-wrapper img {
    width: 622px;
    height: auto;
    border-radius: 10px;

}

.prize .prize-wrapper .price-txt {
    width: 500px;
    height: 400px;
    margin-left: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.prize .prize-wrapper .price-txt h1 {
    padding: 0;
    font-size: 5rem;
    color: #fff;
    font-family: Helvetica;
}

.prize .prize-wrapper .price-txt h1 span {
    padding: 0;
    margin-left: -25px;
    margin-top: -43px;
}

.prize .prize-wrapper .price-txt h4,
.prize .prize-wrapper .price-txt p {
    font-family: Arial, Helvetica, sans-serif;

}

.prize .prize-wrapper .price-txt h4 {
    /* padding-left: 100px; */
    font-size: 3rem;
    text-align: center;
    font-family: monospace;
    color: #FF8C00;
}

.prize .prize-wrapper .price-txt p {
    margin-top: 8px;
}

/* *********************TEAM************************ */
.team {
    padding-bottom: 50px;
}

.team .team-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
}

.team .team-row .row1 {
    width: 100%;
    display: flex;
    justify-content: center;



}

.team .team-row .row2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;



}

.team .team-row .user {
    width: 225px;
    height: 270px;
    border: 2px solid rgb(140, 135, 135);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    margin: 10px 8px;
    line-height: 23px;


}

.team .team-row .user img {
    margin: auto;
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid rgb(2, 136, 166);
}

.team .team-row .user .user-detail h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1DD8FE;
}

/* ***********************************sponsor**************** */
.sponsors {
    padding: 20px auto;
    overflow: hidden;
}

.sponsors .txt-center {}

.sponsors .txt-center p {
    width: 56%;
    text-align: center;
    margin: 15px auto;
    color: #ceced3;
    letter-spacing: 1.5px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5rem;

}

.sponsors .sp-row {
    width: 90%;

    padding: 10px auto;
    margin: auto;

}

.sponsors .sp-row .sp-detail {
    width: 100%;
    height: 40vh;
    text-align: center;
    margin-bottom: 10px;

    padding: 40px 0;

}

/* .sponsors .sp-row .sp-detail:nth-child(2) h1 {
    color: #D3D3D3;
    filter: drop-shadow(0px 0px 4px #c78c0b);
}

.sponsors .sp-row .sp-detail:nth-child(3) h1 {
    color: #f5edf5;
    filter: drop-shadow(0px 0px 4px #c78c0b);
}

.sponsors .sp-row .sp-detail:nth-child() h1 {
    color: #D3D3D3;
} */

.sponsors .sp-row .sp-detail h1 {
    color: #D3D3D3;
    font-family: helvetica;
    margin-top: 8px;
    filter: drop-shadow(0px 0px 4px #c78c0b);
}

.sponsors .sp-row .sp-detail .sp-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sponsors .sp-row .sp-detail .sp-list img {
    width: 250px;

    margin: 15px 25px;
    padding: 10px 12px;
}
